@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: "Raleway", sans-serif;
    color: white;
}

body {
    background-color: black;
}

main {
    padding-top: 70px;
    border-top: solid 1px rgb(6, 175, 231);
    display: flex;
    flex-direction: column;
    gap:150px;
    align-items: center;
    text-align: center;
    justify-items: center;
}

.banner {
    width: 100%;
    height: 605px;
    background-image: url(../assets/images/banner.png);
}

.banner-content {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(49, 168, 221, 0.164), rgb(0 0 0 / 1));
    padding-block: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 605px;
    align-items: center;
    text-align: center;

    & h1 {
        background: linear-gradient(to bottom, rgb(6, 175, 231) , blue);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: 900;
        font-size: 300%;
    }

    & p {
        width: 35%;
        color: white;
        font-size: large;
    }

    & button {
        background: linear-gradient(to bottom, rgb(6, 175, 231) , blue);
        -webkit-background-clip: text;
        width: 20%;
        height: 13%;
        border: 3px solid rgb(1, 151, 201);
        color: transparent;
        font-weight: 900;
        font-size: larger;
    }

    & a {
        color: transparent;
        text-decoration: none;
        cursor: default;
    }
}

.logo {
    padding: 1%;
    width: 18%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100%;

    & img {
        width: 102%;
        height: auto;
    }
}

#course-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 60%;
    
    & h2 {
        background: linear-gradient(to bottom, rgb(6, 175, 231) , blue);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: 700;
        font-size: 250%;
        letter-spacing: 2px;
    }
}

.modules-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
}

.module {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 55px;
    background: rgb(80, 80, 80);
    border: solid rgb(6, 175, 231) 1px;
    border-radius: 100px;
    box-shadow: inset rgb(61, 61, 61) -5px 5px 5px;

    & span {
        color: rgb(6, 175, 231);
        margin-right: 5px;
    }
}

#transform-world {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/images/woman-code.png);
    width: 100%;
    height: 60vh;
    background-position: center;
    background-size: cover;
    justify-content: center;
    border-block: solid 1px rgb(6, 175, 231);
    background-attachment: fixed;

    & p {
        padding-left: 200px;
        width: 600px;
        text-align: start;
        font-size: 35px ;
        font-weight: 900;
        text-shadow: 2px 2px rgb(6, 175, 231);
    }
}

#professional-challenges {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;

    & h2 {
        margin-top: -100px;
        background: linear-gradient(to bottom, rgb(6, 175, 231) , blue);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: 700;
        font-size: 250%;
        letter-spacing: 2px;
    }

    & p {
        width: 700px;
    }
}

footer {
    background: linear-gradient(to top, rgb(0, 42, 56), black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    text-align: center;
    align-items: center;

    & .dio-logo {
        width: 20%;
    }

    & a {
        color: rgb(6, 175, 231);
        font-weight: 900;
    }
}